.container{
    position: absolute;
}

.container h2{
    position: relative;
    text-align: center;
}
.btn-default{
    width:95%;
    margin-top: 20px;
}
#select_class select{
    width:100%
}

@media (max-width: 750px) {
    .container{
        position: relative;
        text-align: left;
    }


}
@media (min-width: 750px) {
    .btn-default{
        width:40%;
    }
}